<h1><%= current_user.firstname %>'s Game Collection</h1><hr><br>

<h3>Edit game details</h3>

<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="title"><strong>Title of game: </strong></label>
  <input type="text" name="title" value="<%= @game.title %>" required><br><br>
  <label for="company"><strong>Company: </strong></label>
  <input type="text" name="company" value="<%= @game.company %>" required><br><br>
  <label for="platform"><strong>Platform: </strong></label>
  <input type="text" name="platform" value="<%= @game.platform %>" required><br><br>
  <input type="submit" value="Edit Game">
</form>
