<h1><%= current_user.firstname %>'s Game Collection</h1><hr><br>
<h3>Game Details</h3><br><br>

<label for="title"><strong>Title: </strong></label>
<%= @game.title %><br><br>
<label for="company"><strong>Company: </strong></label>
<%= @game.company %><br><br>
<label for="platform"><strong>Platform: </strong></label>
<%= @game.platform %><br><br><br>

<a href="/games/<%= @game.id %>/edit_game_details" style="text-decoration: none">edit game details</a> |
<a href="/games/<%= @game.id %>/delete_game" style="text-decoration: none">delete game</a> |
<a href="/games/show_collection" style="text-decoration: none">go back</a>
